#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

#nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
}

#footer{
  background: none !important;
  background-color: transparent !important;
}

#footer .footer-other{
  background-color: transparent !important;
}

#pagination {
    width: 100%;
    margin: auto;
  }

#recent-posts .recent-post-items .recent-post-item > .recent-post-info {
  min-height: 140px;
}

.aplayer.aplayer-fixed {
  top: 80px;
  bottom: auto;
  right: 16px;
  z-index: 9999;
}